name: Build Docker Image
on:
  push:
    branches: [main, master]
    paths:
      - 'packages/server/**'
  pull_request:
    branches: [main, master]
    paths:
      - 'packages/server/**'
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Build Docker image
        uses: docker/build-push-action@v5
        with:
          context: ./packages/server
          file: ./packages/server/Dockerfile
          push: false
          tags: proxyhub-server:latest
          cache-from: type=gha
          cache-to: type=gha,mode=max
    # - name: Upload Docker image as artifact
    #   uses: actions/upload-artifact@v4
    #   with:
    #     name: docker-image
    #     path: /tmp/_buildx_build
    #     retention-days: 1
